@font-face {
  font-family: 'shareboard';
  src:url('../fonts/shareboard.eot?-r9ejpx');
  src:url('../fonts/shareboard.eot?#iefix-r9ejpx') format('embedded-opentype'),
    url('../fonts/shareboard.woff?-r9ejpx') format('woff'),
    url('../fonts/shareboard.ttf?-r9ejpx') format('truetype'),
    url('../fonts/shareboard.svg?-r9ejpx#shareboard') format('svg');
  font-weight: normal;
  font-style: normal;
}
