.container--basic,
.container{
  max-width: 380px;
  margin: 0 auto;
}

.container{
  position: relative;
  margin-bottom: $base-spacing-unit * 2 - 2;
  @media #{$small} {
    margin-bottom: 0;
  }
}

.container--white{
  background-color: #F8F9FB;
}

.page-wrap{
  min-height: 100%;
  margin-bottom: -39px;
  &:after {
    content: "";
    display: block;
    height: 39px;
  }
}